<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple TV Controller</title>
    <link rel="stylesheet" href="../static/output.css">
</head>
<body class="w-screen h-screen flex justify-center items-stretch bg-blue-50 p-12">
    <main class="bg-white rounded-sm flex-1 p-4 flex flex-col">
        <div class="h-10 p-1 text-center flex-none">
            <h1>Apple TV Controller</h1>
        </div>
        <div class="bg-red-500 rounded-sm flex-1">
            <p>Test</p>
        </div>
    </main>
</body>
</html>